.box {
background: #eee;
    margin-bottom: 10px;
    
}

h1 {
    margin: .67em 0;
    font-size: 1.5em;
    font-family: rockwell, bold-serif, serif; 
    color: white;
    
}

.tagline {
    background-color: #999999;
    height: 93 px;
    
}

.events