body{color: #593800;
font-family: gillsans, sans-serif;
    font-size: 25px;
}

.maintitle {background-color: #63e9de;
height: 150px;
margin-bottom: 20px;}

.subtitle{
font-size: 18px;
    font-family: centurygothic, sans-serif;
}

.box {background-color: gray;}

.main-nav {
    font-size: 25px;
    background-color: #63e9de;
    margin-bottom: 20px;
    padding: 12px;
position: relative;
    
}
